.header {
    position: relative;
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
    width: 1200px;
  }

.page {
  margin: auto;
  text-align: left;
  color: aliceblue;
  background-color: rgb(122, 91, 180);
  padding: 5px;
  border-radius: 20px;  
  position: relative;
  width: 1200px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.vis-container {
  position: relative;
  align-items: center;
  object-fit: contain;
  display: block;
  width: 100%;
}

.card {
  background-color: rgb(37, 27, 73);
  padding: 20px;
  margin-top: 10px;
  border-radius: 20px;
  
  
}

.background {
  background-image: url("esport background.jpg");
  padding: 10px;
  font-size: large;
}